body {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
}

#thebestclase {
    width: 300px;
    height: 300px;
    color: black;
    background-color: aqua;
    text-align: center;
}

#cabecera {
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}