body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}

#thebestclase {
    width: 300px;
    height: 300px;
    color: black;
    background-color: aqua;
    text-align: center;
}