body {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: greenyellow;
}

#thebestclase {
    width: 300px;
    height: 300px;
    color: black;
    background-color: aqua;
    text-align: center;
}

#cabecera {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.header {
    text-align: center;
    color: black;
    background-color: burlywood;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gatito {
    width: 300px;
    height: 200px;
}
.footer {
	font-size: 20px;
	color: blue;
	background-color: #82E0AA;
	font-family: 'Arial Narrow';
}
